################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.opensdf
*.sdf
*.suo
snbzdzzStudio.udf
/.svn
/art
/doc
/snbzdzzCode/cocos2d/cocos/2d/Debug.win32
/snbzdzzCode/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32
/snbzdzzCode/cocos2d/cocos/platform/android/java/local.properties
/snbzdzzCode/proj.android/obj
/snbzdzzCode/proj.android/libs
/snbzdzzCode/proj.android/local.properties
/snbzdzzCode/cocos2d/external/Box2D/proj.win32/Debug.win32
/snbzdzzCode/cocos2d/external/bullet/proj.win32/Debug.win32
*.a
*.so
Debug.win32
*.pch
*.user
/snbzdzzCode/Resources/fonts
/snbzdzzCode/Resources/res
/snbzdzzCode/Resources/HelloWorld.png
/snbzdzzCode/Resources/CloseNormal.png
/snbzdzzCode/Resources/CloseSelected.png
